body {
    background-color: #232232;
}

.header {
    display: flex;
}

.header img {
    width: 80px;
    height: 80px;
}

.menu {
    width: 100%;
}

.menu ul {
    display: block;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    margin: 25px 0;
}

.menu ul li {
    display: flex;
    float: right;
    padding-right: 16px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: Calibri;
    transition: 0.5s;
    font-size: 24px;
}

.menu ul li a:hover:not(.disablehover) {
    color: red
}

.disablehover {
    background-color: #232232;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown .dropbtn {
    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    font-family: Calibri;
    width: 32px;
    height: 32px;
    transition: 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    top: 30px;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.5s;
}

.dropdown-content a:hover {
    color: red;
}

.show {
    display: block;
}

#mobile-hide {
    visibility: unset;
}

#mobile-show {
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 800px) {
    #mobile-hide {
        display: none;
        visibility: hidden;
        clear: both;
    }
    #mobile-show {
        visibility: unset;
        display: block;
    }
}

.main {
    position: relative;
    width: 100%;
    text-align: center;
}

.sub {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
    font-family: Calibri;
    font-size: 40px;
    margin: 0;
}

.sub h1 {
    font-size: 25px;
    margin-top: 20px;
}

.sub h2 {
    font-size: 20px;
    text-indent: 35px;
}

.sub h2 a {
    color: white;
}

h2 {
    color: white;
    font-weight: unset;
    font-family: Calibri;
    font-size: 30px;
    margin: 0;
}

button {
    background-color: #5865f2;
    margin-top: 5px;
    width: 270px;
    height: 55px;
    transition: 0.5s;
    border: 2px solid #5865f2;
    border-radius: 10px;
}

button:hover {
    background-color: #3b4394;
    border: 2px solid #3b4394;
}

button a {
    text-decoration: none;
    color: white;
    font-family: Calibri;
    font-size: 30px;
    padding-left: 5px;
}

.row1 {
    margin-top: 50px;
}

.description img {
    margin: 0 50px;
    border: 5px solid #363940;
    border-radius: 10px;
}

.description h2 {
    margin-bottom: 50px;
}

.row1 .text {
    width: calc(100% - 650px);
    margin-right: 50px;
    margin-top: 125px;
    text-align: center;
    float: right;
}

.row2 {
    margin-top: 50px;
    /* height: 270px; */
}

.row2 .text {
    float: left;
    width: calc(100% - 650px);
    margin-top: 70px;
    margin-left: 50px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .row1 .text {
        width: 100%;
        margin: 0;
    }

    .row2 .text {
        width: 100%;
        margin: 0;
    }

    .description {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .description img {
        margin: 0 0;
        width: 100%;
    }
}

.end {
    text-align: center;
    height: 250px;
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.end .column {
    float: left;
    width: 50%;
}

.end .column h2 {
    margin-top: 15px;
}

.end .cclear:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .end .column {
        width: 100%
    }
}

.footer {
    background-color: #363940;
}

h3 {
    display: inline-block;
    color: gray;
    font-size: 24px;
    font-family: Calibri;
    margin: 0;
}

h3 a {
    color: gray;
    text-decoration: none;
}